* text=auto
*.bat text eol=crlf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.xml text eol=lf
*.png binary
